@charset "utf-8";
/* CSS Document */
body{ font-size:14px; font-family:'微软雅黑'; background:url(../images/banner3.jpg) no-repeat center fixed;background-attachment: fixed;background-size: 100% 100%;}
#container{ width:100%; background:rgba(255,255,255,0.9);position:absolute;top:0;}
.modal-header{ background:#000; border-radius:5px 5px 0 0; color:#fff;}
.modal-header .close{ color:#fff;}
@media all and (min-width:992px){
		#container{ min-height:800px;}
		#container .logo_img img{ margin:30px auto;} 
		#container .regist_form .form-group{ margin-top:15px;}
	}
@media all and (max-width:992px){
	#container{ min-height:800px;}
	#container .logo_img img{ margin:20px auto;}
	#container .regist_form .form-group{ margin-top:15px;}
}
#regist_must{ text-align:center; margin-bottom:20px;}
.modal-body p{ line-height:25px;}